.blockCounter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5em;
    width: 32em;
    height: 32em;
    border: 0.3em #5fd8f9 solid;
    border-radius: 0.7em
}

.panelButtonsCounter {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 28.433em;
    height: 12em;
    border: 0.3em #5fd8f9 solid;
    border-radius: 0.7em;
}